body {
  margin: 0;
  padding: 0;
  display: grid;
  font-family: "Roboto", sans-serif;
}

.name {
  position: absolute;
  top: -4rem;
  left: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}

.spinner {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 10px solid rgb(71, 71, 255);
  position: relative;
  margin: 5rem 5rem;
}

.switcher {
  display: flex;
  padding-left: 40rem;
}

.tasks {
  position: relative;
  height: 100%;
  /* Вращение барабана */
  transition: 3s;
  transition-timing-function: ease-in-out;
}

.task-item {
  position: absolute;
  padding-left: 2.5rem;
  left: 15rem;
  top: 14.5rem;
  transform-origin: 0 50% 0;
}

.task-item2 {
  transform: rotate(30deg);
}

.task-item3 {
  transform: rotate(60deg);
}

.task-item4 {
  transform: rotate(90deg);
}

.task-item5 {
  transform: rotate(120deg);
}

.task-item6 {
  transform: rotate(150deg);
}

.task-item7 {
  transform: rotate(180deg);
}

.task-item8 {
  transform: rotate(210deg);
}

.task-item9 {
  transform: rotate(240deg);
}

.task-item10 {
  transform: rotate(270deg);
}

.task-item11 {
  transform: rotate(300deg);
}

.task-item12 {
  transform: rotate(330deg);
}

.arrow {
  /* Стрелка картинкой */
  width: 40%;
  top: 9rem;
  /* Стрелка CSS
  position: absolute;
  width: 10rem;
  top: 15rem;
  left: 20rem;
  border: 5px solid rgb(155, 2, 2); */
  /* Вращение стрелки */
  transition: 3s;
  transition-timing-function: ease-in-out;
  opacity: 0.7;
}

.start-btn {
  position: absolute;
  top: 13rem;
  left: 13rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(71, 71, 255);
  color: white;
  border: none;
  box-shadow: 1px 2px 4px black;
}

.start-btn:focus {
  outline: none;
}

.start-btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 2px 4px 8px black;
}

#timer {
  position: absolute;
  width: 30rem;
  top: 0;
  left: 40rem;
}

#roll {
  position: absolute;
  width: 30rem;
  top: 2rem;
  left: 40rem;
}

#result {
  position: absolute;
  width: 30rem;
  top: 4rem;
  left: 40rem;
}

#punish {
  position: absolute;
  width: 30rem;
  top: 6rem;
  left: 40rem;
}

#punishment {
  position: absolute;
  width: 30rem;
  top: 14rem;
  left: 40rem;
}
